* {
    font-family: 'Poppins', sans-serif;
}

body  {
    padding: 0px;
    margin: 0px;
    background-color: #F5F5F5;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
}



/* NAV BAR */

nav {
    display: flex;

    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px;
}

nav ul div li {
    display: inline;
}

nav ul div li a {
    font-weight: 700;
    color: #1E1F27;
    text-decoration: none;
}

li a, li a img {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin-right: 15px;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.items-1 {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.items-2 {
    width: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.btn-donate {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 160px;
    height: 60px;
    padding: 0px;
    border-radius: 32px;
    gap: 5px;

    background: #FF3D9A;
    border: none;
    color: #F5F5F5;
    font-weight: 800;
    font-size: medium;
    cursor: pointer;

}

/* END NAV BAR */

.line {
    border: #1E1F27 1px solid;
    border-radius: 15px;
    background-color: #1E1F27;
    margin-top: 15px;
}

/* INTRODUCTION */

.introduction {
    width: 100%;
    height: 100vh;

    padding-top: 6%;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.left {
    width: 100%;
    height: 100vh;
    grid-column: span 3;
}

.left h1 {
    font-weight: 800;
    font-size: 58px;
}

.left h2 {
    font-weight: 800;
    font-size: 28px;
}

.left p {
    font-weight: 500;
    word-spacing: 2px;
    font-size: 24px;
    line-height: 38px;
}

.right {
    width: 100%;
    height: 100vh;
    grid-column: span 3;
}

.btn-group {  
    display: inline-flex;
}

.btn-adopt {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 250px;
    margin-left: 20px;

    background-color: transparent;
    border: #1E1F27 2px solid;
    border-radius: 32px;
    cursor: pointer;

    font-size: medium;
    font-weight: 800;
}

.btn-adopt img {
    margin-right: 5%;
}
/* END INTRODUCTION */

/* HOW TO HELP */

.how-help { 
    display: grid;
    width: 100%;
    height: 200vh;
    grid-template-columns: repeat(6, 1fr);
    background-color: #1E1F27;
}

.title {
    margin-top: 5%;
    margin-bottom: 5%;
    height: auto;
    grid-column: span 6;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 0.5;
    color: #F5F5F5;
}

.sub-title {
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    grid-column: span 6
}

.primary {
    display: flex;
    justify-content: space-evenly;
    color: #F8DB46;
    padding: 0px;
}

.secondary { 
    padding: 0px;
    color:#FFFFFF;
    display: flex;
    justify-content: space-evenly;
    font-weight: 700;
    font-size: 30px;
    margin-top: 20px;
}

.carousel {
    grid-column: span 6;
}

.carousel-img {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    margin-top: 70px;
}

.carousel-img img { 
    grid-column: span 3;
}

.carousel-img button {
    grid-column: span 1;
}

.carousel-img div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}

.line-2 {
    border: #1E1F27 1px solid;
    border-radius: 15px;
    margin-top: 15px;
}

.your-donate {
    margin-top: 140px;
}

.group-card {
    display: grid;
    grid-column: span 6;
    grid-template-columns: repeat(12, 1fr);
    background-color: #1E1F27;
}

.card  {
    margin: auto;
    margin-bottom: 50px;
    width: 350px;
    height: 320px;
    display: grid;
    grid-column: span 4;
    background-color: transparent;
    border: #F5F5F5 1px solid;
    border-radius: 20px;
    grid-template-columns: repeat(6, 1fr);
}

.title-card {
    display: flex;
    justify-content: start;
    align-items: center;
    color:#F5F5F5;
    font-weight: 700;
    font-size: 32px;
    grid-column: span 4;
    margin-left: 15px;
}

.icon-card {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
}

.text-card {
    grid-column: span 6;
    margin-left: 15px;
    margin-right: 15px;
    color: var(--transparent-max, #FFFFFFCC);
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 28px;
}

/* END HOW TO HELP */

/* phones */
@media (max-width: 678px) {
    .items {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        text-align: center;
    }
    .items-1  {
        display: grid;
        width: 80%;
        margin: auto;
        grid-template-columns: repeat(6, 1fr); /* Duas colunas de largura igual */
        gap: 10px; /* Espaçamento entre os itens */
    }

    .items-1 .logo {
        text-align: center;
        justify-content: center;
        grid-column: span 6; /* O primeiro li ocupa todas as colunas */
    }

    .items-1 .l2 {
        text-align: center;
        grid-column: span 3;
    }

    .items-1 .l3 {
        grid-column: span 2;
    }

    .items-1 .l3 a {
        margin: auto;
    }

    .items-2 {
        display: flex;
        width: 80%;
        margin: auto;
        margin-top: 5%;
        justify-content: center;
    }
    
    .line {
        margin: auto;
        margin-top: 5%;
        width: 80%;
    }
    

}

/* desktop */

/* larger desktop */
