@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Inter';
}

body  {
    padding: 0px;
    margin: 0px;
    background-color: #F5F5F5;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
}



/* NAV BAR */

nav {
    display: flex;

    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px;
}

nav ul div li {
    display: inline;
}

nav ul div li a {
    font-weight: 700;
    color: #1E1F27;
    text-decoration: none;
}

li a, li a img {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin-right: 15px;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.items-1 {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.items-2 {
    width: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.btn-donate {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 160px;
    height: 60px;
    padding: 0px;
    border-radius: 32px;
    gap: 5px;

    background: #FF3D9A;
    border: none;
    color: #F5F5F5;
    font-weight: 800;
    font-size: medium;
    cursor: pointer;

}

/* END NAV BAR */

.line {
    border: #1E1F27 1px solid;
    border-radius: 15px;
    background-color: #1E1F27;
    margin-top: 15px;
}

/* INTRODUCTION */

.introduction {
    width: 100%;
    height: 100vh;

    padding-top: 6%;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.left {
    width: 100%;
    height: 100vh;
    grid-column: span 3;
}

.left h1 {
    font-weight: 800;
    font-size: 58px;
}

.left h2 {
    font-weight: 800;
    font-size: 28px;
}

.left p {
    font-weight: 500;
    word-spacing: 2px;
    font-size: 24px;
    line-height: 38px;
}

.right {
    width: 100%;
    height: 100vh;
    grid-column: span 3;
}

.btn-group {  
    display: inline-flex;
}

.btn-adopt {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 250px;
    margin-left: 20px;

    background-color: transparent;
    border: #1E1F27 2px solid;
    border-radius: 32px;
    cursor: pointer;

    font-size: medium;
    font-weight: 800;
}

.btn-adopt img {
    margin-right: 5%;
}
/* END INTRODUCTION */

/* HOW TO HELP */

.how-help { 
    display: grid;
    width: 100%;
    height: 200vh;
    grid-template-columns: repeat(6, 1fr);
    background-color: #1E1F27;
}

.title {
    margin-top: 5%;
    margin-bottom: 5%;
    height: auto;
    grid-column: span 6;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 0.5;
    color: #F5F5F5;
}

.sub-title {
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    grid-column: span 6
}

.primary {
    display: flex;
    justify-content: space-evenly;
    color: #F8DB46;
    padding: 0px;
}

.secondary { 
    padding: 0px;
    color:#FFFFFF;
    display: flex;
    justify-content: space-evenly;
    font-weight: 700;
    font-size: 30px;
    margin-top: 20px;
}

.carousel {
    grid-column: span 6;
}

.carousel-img {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    margin-top: 70px;
}

.carousel-img img { 
    grid-column: span 3;
}

.carousel-img button {
    grid-column: span 1;
}

.carousel-img div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}

.line-2 {
    border: #1E1F27 1px solid;
    border-radius: 15px;
    margin-top: 15px;
}

.your-donate {
    margin-top: 140px;
}

.group-card {
    display: grid;
    grid-column: span 6;
    grid-template-columns: repeat(12, 1fr);
    background-color: #1E1F27;
}

.card  {
    margin: auto;
    margin-bottom: 50px;
    width: 350px;
    height: 320px;
    display: grid;
    grid-column: span 4;
    background-color: transparent;
    border: #F5F5F5 1px solid;
    border-radius: 20px;
    grid-template-columns: repeat(6, 1fr);
}

.title-card {
    display: flex;
    justify-content: start;
    align-items: center;
    color:#F5F5F5;
    font-weight: 700;
    font-size: 32px;
    grid-column: span 4;
    margin-left: 15px;
}

.icon-card {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
}

.text-card {
    grid-column: span 6;
    margin-left: 15px;
    margin-right: 15px;
    color: var(--transparent-max, #FFFFFFCC);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}

/* END HOW TO HELP */

/* LAST SESSION */

.last-session { 
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 100vh;
    width: 100%;
}

.title-adopt {
    grid-column: span 6;
    font-weight: 700;
    font-size: 30px;
    color: #1E1F27;
    text-align: center;
    margin-top: 80px;
}

.img-dog-cat {
    grid-column: span 3;
}

.text-list {
    font-size: 24px;
    font-weight: 500;
    line-height: 38.4px;
    text-align: left;
    margin-top: 40px;
    grid-column: span 3;
}

li {
    margin-bottom: 15px;
}

.title-list {
    display: flex;
    font-size: 36px;
    font-weight: 600;
    line-height: 67.2px;
    letter-spacing: -0.02em;
    text-align: center;
    padding-bottom: 20px;

}

.btn-last-adopt {  
    display: flex;
    justify-content: center;
    align-items: center;

    width: 210px;
    height: 64px;
    margin-top: 20px;

    background-color: #1E1F27;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    color: #F5F5F5;

    font-size: medium;
    font-weight: 800;
}
/* END LAST SESSION  */

/* SESSION II */

.session-II {
    height: 100vh;
    width: 100%;

    background-color: #1E1F27;
}

.header-session-II {
    margin: 0px;
    height: 40vh; 
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.title-session-II {
    font-size: 30px;
    font-weight: 700;
    line-height: 67.2px;
    letter-spacing: -0.02em;
    margin-top: 60px;
    text-align: center;
    color: #F5F5F5;
    grid-column:  4 / span 6 ; /* O filho começa na 4 coluna e ocupa 6 colunas */
    
}

.s2-left {
    height: 30vh;
    display: flex;
    justify-content: end;
    align-items: center;
    grid-column: 2 / span 1;
}

.s2-right {
    height: 30vh;
    display: flex;
    justify-content: start;
    align-items: center;
    grid-column: 11 / span 2;
}

.cards-II {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    
}

.card-II {
    width: 260px;
    height: 330px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    border:#F5F5F5 1px solid;
    border-radius: 20px;
    grid-column: span 3;
}

.title-card-II {
    font-size: 24px;
    font-weight: 700;
    line-height: 38.4px;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--white, #FFFFFF);
}

.text-card-II {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    color: var(--transparent-max, #FFFFFFCC);
}

.btn-card-II { 
    
    width: 224px;
    height:64px;
    padding: 16px 24px 16px 24px;
    border: none;
    border-radius: 16px;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Poppins';
}

.btn-view {
    background-color: #04C27F;
    color: #1E1F27;
}

.btn-get-involved {
    background-color: #F1D06E;
    color: #1E1F27;
}

.btn-give-monthly {
    background-color: #FF3D9A;
    color: #FFFFFF;
}

.btn-learn-more {
    background-color: #5758F1;
    color: #FFFFFF;
}
/* END SESSION II */

/* SESSION III */

.session-III { 
    width: 100%;
    background-color: #1E1F27;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.block-III { 
    display: grid;
    grid-column: span 12;
    grid-template-columns: repeat(12, 1fr);
}

.img-left {
    grid-column: span 3;
}

.img-right {
    grid-column: span 3;
}

.sub-titles {
    display: grid;
    grid-column: span 6;
    grid-template-columns: repeat(12, 1fr);
    height: 15vh;
}

.title-primary {
    display: inline-flex;
    grid-column: span 12;
    height: 15vh;
    margin: 0px;
    justify-content: center;
    
    font-family: 'Poppins';
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    color:#F5F5F5;
}

.title-primary span:first-child{
    font-family: 'Poppins';
    font-size: 45px;
    font-weight: 700;
    color: #F8DB46;
    margin-left: 10px;
    margin-right: 10px;
}

.sub-titles span {
    grid-column: span 12;
    height: 10vh;

    color: #FFFFFF;
    text-align: center;
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.02em;
    text-align: center;

}

.btns {
    display: flex;
    grid-column: span 12;
    justify-content: center;
    align-items: center;
}

.btn-1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;

    width: 238px;
    height: 64px;
    padding: 16px 32px 16px 32px;
    margin-right: 25px; 

    border: none;
    border-radius: 30px;
    background-color: #F8DB46;
    color: #1E1F27;
}

.btn-2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;

    width: 223px;
    height: 64px;
    padding: 16px 32px 16px 32px;

    border-radius: 32px;
    border: #FFFFFF 1px solid;
    background-color: transparent;
    color: #FFFFFF;
}

/* END SESSION III */

/* SESSION IV */

.sub-session-I {
    height: 40vh;
    background-color: #5758F1;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 12vh auto auto; /* Primeira linha com altura de 12vh, as outras com altura automática */
}

.sub-session-I h1 {
    grid-column: span 12;

    height: 10vh;
    color: #ffffff;
    margin-bottom: 0px;

    font-family: 'Poppins';
    font-size: 50px;
    font-weight: 700;
    line-height: 67.2px;
    letter-spacing: -0.02em;
    text-align: center;
}

.sub-session-I span {
    grid-column: 4 / span 6;
    display: flex;
    justify-content: center;
    align-items: top;
    color: var(--transparent-max, #FFFFFFCC);
      
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;

}

.form-session-IV {
    grid-column: span 12;
    display: inline-flex;

    justify-content: center;
    align-items: top;
}

.email-session-IV {
    padding-left: 20px;
    height: 60px;
    width: 390px;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    background-color: transparent;
    color: #FFFFFF80;
    border-radius: 30px;
    border: 1px solid var(--white, #FFFFFF);

}

::placeholder {
    color: #FFFFFF80;
}

.subscribe {
    text-align: center;
    color: #1E1F27;
    background-color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;

    margin-left: 20px;
    width: 170px;
    height: 64px;
    padding: 16px 32px 16px 32px;
    border-radius: 32px;
    border: none;

}


.footer {
    height: 60vh;
    background-color: #F5F5F5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.column-1  {
    display: grid;
    margin-top: 90px;
    justify-content: center;
    grid-template-rows: 12vh auto auto; /* Primeira linha com altura de 12vh, as outras com altura automática */
}


.column-1 span {
    color: #1E1F27;
    width: 16vh;
    font-family: 'Poppins';
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
}

.column-2, .column-3, .column-4{
    margin-top: 90px;
}

.column-2 span, .column-3 span, .column-4 span {
    display: block;
    margin-bottom: 16px;
    color: var(--black, #1E1F27);

    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
}

.wpp {
    margin-left: 5px;
    margin-right: 5px;
}

.line-footer {
    display: flex;
    justify-content: top;
    align-items: top;
    grid-column: span 12;

    height: 1px;
    border: none;
    background-color: #1E1F27;
    margin-top: 15px;
}

.text-footer {
    grid-column: span 12;
}

.text-footer h1 {
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 700;
    line-height: 51.2px;
    letter-spacing: -0.02em;
    text-align: center;
}

.text-footer h1 span {
    text-align: center;
    align-items: top;
    color: #FF3D9A;
}
/* END SESSION IV */

/* phones */
@media (max-width: 678px) {
    .items {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        text-align: center;
    }
    .items-1  {
        display: grid;
        width: 80%;
        margin: auto;
        grid-template-columns: repeat(6, 1fr); /* Duas colunas de largura igual */
        gap: 10px; /* Espaçamento entre os itens */
    }

    .items-1 .logo {
        text-align: center;
        justify-content: center;
        grid-column: span 6; /* O primeiro li ocupa todas as colunas */
    }

    .items-1 .l2 {
        text-align: center;
        grid-column: span 3;
    }

    .items-1 .l3 {
        grid-column: span 2;
    }

    .items-1 .l3 a {
        margin: auto;
    }

    .items-2 {
        display: flex;
        width: 80%;
        margin: auto;
        margin-top: 5%;
        justify-content: center;
    }
    
    .line {
        margin: auto;
        margin-top: 5%;
        width: 80%;
    }
    

}

/* desktop */

/* larger desktop */
